

	

#tx
{
	border: solid #29B6F6 2px;
	background-color: #29B6F6;
	text-align: justify ;
	color: #FFFFFF;
	font-family: "Times New Roman", Times, serif;
	font-size: 25px;
	font-style: bold;
}
#heading
{
	font-size: 30px;
}